<section class="content-header">
  <h1>
    Home
    <small>Bie</small>
  </h1>
  <ol class="breadcrumb">
    <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
    <li class="active">About</li>
  </ol>
</section>

<section class="content">
  <div class="row">
      <div class="col-xs-12">
          <p>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perspiciatis maxime nihil deserunt facilis quia ut, beatae vero sed debitis ad esse cupiditate recusandae enim mollitia soluta amet dolore! Praesentium, quibusdam?
          </p>
      </div>
  </div>
</section>