<section class="content">
    <div class="row">
        <div class="col-xs-12">
            <div class="panel panel-info">
                <div class="panel-heading">
                    {{title}}
                </div>
                <div class="panel-body">
                    <form role="form" [formGroup]="form" (ngSubmit)="guardar()">
                        <div class="form-group row text-center">
                            <div class="col-xs-12">
                                <label for="nombres">Descripción</label>
                                <input type="text" class="form-control" id="nombres" formControlName="descripcion">
                            </div>
                        </div>
                        <div class="form-group row text-center">
                            <div class="col-xs-12">
                                <label for="precio">Precio</label>
                                <input type="number" class="form-control" id="precio" formControlName="precio">
                            </div>
                        </div>
                        <div class="form-group row text-center">
                            <div class="col-xs-12 justify-content-between">
                                <button style="margin-right: 4px" type="button" class="btn btn-danger btn-md" routerLink="/dashboard/productos">Cancelar</button>
                                <button type="submit" class="btn btn-success btn-md">Guardar</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>